html {
    font-size: 62.5%;
}

::placeholder {
    color: #cdcbd7;
    opacity: 0.6;
}

:root {
    --color-primary: #243370;
    --color-secondary: #E41F25;
    --color-accent: #737373;
    --color-content: #2c2e35;
}

* {
    box-sizing: border-box;
}

body {
    color: var(--color-content);
    font-size: 3.3rem;
    line-height: 1.5;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* fonts */
h1,
h2,
h4 {
    font-weight: bold;
    font-family: 'Libre Bodoni', serif;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

@media screen and (min-width:768px) {
    body {
        font-size: 2.5rem;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 4rem;
    }
}

/* links */
a {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.link-arrow {
    color: var(--color-accent);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after {
    content: '-->';
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width:1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* list */
.list {
    list-style: none;
    padding-left: 0;
    margin: 0%;
    /* color: white; */
}

.list--inline {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

@media screen and (win-width:768px) {
    .list--inline {
        flex-direction: row;
    }
}

/* icons */
.icon {
    font-size: 8rem;
    color: var(--color-accent);
    padding: 2rem;
}

.icon__container {
    text-align: center;
    border: 5px solid var(--color-primary);
    width: fit-content;
    border-radius: 10px;
}

.icon__header {
    margin: 0 1rem;
    color: var(--color-content);
}

/* buttons */
.btn {
    border-radius: 15px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 2rem 3rem;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    margin: 1rem 0;
}

.btn--primary {
    background: var(--color-primary);
    color: white;
    transition: all 0.6s;
}

.btn--primary:hover {
    background: #3164a5;
    color: white;
}

.btn--secondary {
    background: var(--color-secondary);
    color: white;
    transition: all 0.6s;
}

.btn--secondary:hover {
    background: #ff0f17;
    color: white;
}

.btn--outline {
    background-color: white;
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    transition: all 0.6s;
}

.btn--outline:hover {
    background-color: var(--color-primary);
    color: white;
    border: 2px solid var(--color-primary);
}

@media screen and (min-width:1024px) {
    .btn {
        font-size: 1.5rem;
    }
}

/* input */
.input {
    border-radius: 30px;
    border: 1px solid #ccc;
    color: var(--color-primary);
    font-size: 2rem;
    outline: 0;
    padding: 1.5rem 3.5rem;
    box-shadow: 4px 5px 42px 3px rgba(54, 54, 54, 0.16);
    -webkit-box-shadow: 4px 5px 42px 3px rgba(54, 54, 54, 0.16);
    -moz-box-shadow: 4px 5px 42px 3px rgba(54, 54, 54, 0.16);
}

@media screen and (min-wdith:1024px) {
    .input {
        font-size: 1.5rem;
    }
}

/* title */
.title {
    text-align: center;
}

.line {
    width: 2rem;
    height: 0;
    border: 3px solid var(--color-primary);
    margin: 7px 3px;
    display: inline-block;
}

.title__header {
    display: inline-block;
    color: var(--color-secondary);
}

@media screen and (min-width:768px) {
    .line {
        width: 4rem;
        height: 0;
        border: 3px solid var(--color-primary);
        margin: 10px 3px;
        display: inline-block;
    }
}

/* grid */
.grid {
    display: grid;
}

@media screen and (min-width:768px) {
    .grid--1x2 {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:1024px) {
    .grid--1x3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* collapsibles */
.collapsible__toggle {
    transition: transform 0.7s;
    color: var(--color-accent);
}

.collapsible__content {
    /* max-height: 0; */
    display: none;
    overflow: hidden;
    opacity: 0;
}

.collapsible--expanded .collapsible__toggle {
    transform: rotate(180deg);
}

.collapsible--expanded .collapsible__content {
    opacity: 1;
}

.collapsible__container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--color-primary);
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
}

/* nav */
.nav {
    background-color: white;
    box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    height: 6rem;
    transition: height 0.5s;
}

.collapsible--expanded.nav {
    height: 100vh;
}

.nav__list {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav__brand__container {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav__item {
    margin-bottom: 1rem;
}

.nav__item a {
    text-decoration: none;
    color: var(--color-primary);
    border-bottom: 1px solid var(--color-secondary);
}

.nav__brand {
    height: 80%;
    flex-grow: none;
}

.nav__collapsible__container {
    padding-right: 2rem;
}

@media screen and (min-width:768px) {
    .nav {
        position: fixed;
        top: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 8rem;
    }

    .nav__collapsible__container {
        display: none;
    }

    .nav__list {
        display: flex;
        flex-direction: row;
        flex-grow: 0;
        font-size: 2.2rem;
        opacity: 1;
    }

    .nav__item :hover {
        color: var(--color-secondary);
    }

    .nav__item {
        margin: 0 0 0 3rem;
    }

    .nav__item a {
        border: 0;
        white-space: nowrap;
        transition: color 0.4s;
    }

    .nav__brand {
        height: 100%;
        padding: 0;
    }

    .nav__brand__container {
        width: auto;
    }
}

/* hero */
.hero {
    position: relative;
    height: 100vh;
}

.hero__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.hero a {
    color: var(--color-primary);
}

.hero a:hover {
    color: var(--color-secondary);
}

.hero__image {
    background: url(../images/mobile-hero-2-blur.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.hero__header {
    font-family: 'Libre Bodoni', serif;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: var(--color-primary);
    text-align: center;
    font-size: 5rem;
}

.hero__btn {
    padding: 2rem 5rem;
}

.hero__toggle {
    display: flex;
    flex-direction: column;
    font-size: 2.5rem
}

.hero__toggle>p {
    margin: 0;
}

.hero__arrow {
    text-align: center;
    margin-bottom: 20px;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-name: jumpingArrow;
    animation-duration: 1s;
}

@keyframes jumpingArrow {
    0% {
        transform: translateY(20px);
    }

    12.5% {
        transform: translateY(17.5px);
    }

    25% {
        transform: translateY(15px);
    }

    50% {
        transform: translateY(10px);
    }

    62.5% {
        transform: translateY(7.5px);
    }

    75% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }

}
@media screen and (min-width:768px){
    .hero__header{
        font-size: 4rem;
    }
    .hero__image{
    background: url(../images/hero-image-blur.jpg);
    background-size: cover;
    background-position: center;
    }
}