<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@700&display=swap" rel="stylesheet">
    <title>Contact Form</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script type="text/javascript">
        (function() {
            // https://dashboard.emailjs.com/admin/account
            emailjs.init('lzJUI_2YweveJOPtY');
        })();
    </script>
    <script type="text/javascript">
        window.onload = function() {
            document.getElementById('contact-form').addEventListener('submit', function(event) {
                event.preventDefault();
                // generate a five digit number for the contact_number variable
                this.contact_number.value = Math.random() * 100000 | 0;
                // these IDs from the previous steps
                emailjs.sendForm('service_ia13vql', 'template_5dzuq58', this )
                    .then(function() {
                        console.log('SUCCESS!');
                        alert('Message sent!')
                    }, function(error) {
                        console.log('FAILED...', error);
                    });
            });
        }
    </script>
</head>
<body>
    <section class="contact">
        <div class="title">
            <div class="line line--blue"></div>
            <h2 class="title__header">Contact Us</h2>
            <div class="line line--blue"></div>
        </div>
        <div class="contact__icons">
            
        </div>
        <form id="contact-form" class="contact__field" autocomplete="off">
            <input type="hidden"  name="contact_number">
                    <label>Name:</label>
                    <input type="text" name="user_name" class="contact__item contact__input">
                    <label>Email:</label>
                    <input type="email" name="user_email" class="contact__item contact__input">
                <label>Message:</label>
                <textarea name="message" class="contact__item contact__message"></textarea>
            <input class="btn btn--primary contact__btn" type="submit" value="Send" class="contact__item">
        </form>
        <div class="contact__alternative">
            <ul class="list list--inline">
                <li>www.fmc-supplychain.com</li>
                <li>info@fmc-supplychain.com</li>
                <li>Saudi Arabia- Al Riyadh</li>
                <li>00966507885696</li>
            </ul>
        </div>
    </section>
</body>
</html>