<section class="info">
    <div class=" title info__title">
        <div class="line line--blue">
        </div>
        <h1 class="title__header">About Us</h1>
        <div class="line line--blue">
        </div>
    </div>
    <div class="info__text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus reprehenderit asperiores magni tempora aliquid quia quam maxime atque fugiat odit. Fuga, fugiat incidunt reprehenderit nisi maxime natus earum. Est numquam ut assumenda laborum consequatur maxime quaerat, dignissimos perferendis fugit animi tempore quia quibusdam nobis minima corrupti blanditiis necessitatibus sit distinctio.</p>
    </div>
</section>