<nav class="nav collapsible" id="nav">
    <div class="nav__brand__container">
        <img src="images/logo-fmc-removebg-preview.png" class="nav__brand" alt="">
        <div class="nav__collapsible__container"><i class="fa-solid fa-chevron-up collapsible__toggle nav__toggle"></i></div>
    </div>
    <ul class="list list--inline nav__list collapsible__content">
        <li class="nav__item "><a href="">Mission</a></li>
        <li class="nav__item "><a href="">Vision</a></li>
        <li class="nav__item "><a href="">Contact Us</a></li>
        <li class="nav__item "><a href="">Clients</a></li>
    </ul>
</nav>