<section class="section">
    <div class="section__img"></div>
    <div class="section__content">
        <div class="title">
            <h2 class="title__header">Our Mission</h2>
            <div class="line line--blue"></div>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, harum. Fuga, recusandae voluptatum voluptatem hic nostrum quasi, sit quidem repellendus quibusdam eveniet voluptate consectetur enim dicta labore repellat asperiores praesentium!</p>
        <button class="btn btn--outline  btn--secondary section__btn">Submit</button>
    </div>
</section>