<section class="services">
    <div class="services__title">
        <div class="title">
            <div class="line line--blue"></div>
            <h3 class="title__header">Our Services</h3>
            <div class="line line--blue"></div>
        </div>
    </div>
    <div class="right--side">
        <div class="triangle triangle--right triangle--top triangle--blue"></div>
        <div class="triangle triangle--right triangle--bottom triangle--red"></div>
    </div>
    <div class="services__content">
        <div class="icon__container">
            <i class="fa-solid fa-plane-departure icon"></i>
            <h4 class="icon__header">Air <br> Freight</h4>
        </div>
        <div class="icon__container">
            <i class="fa-solid fa-person-military-pointing icon"></i>
            <h4 class="icon__header">Land <br> Freight</h4>
        </div>
        <div class="icon__container">
            <i class="fa-solid fa-cart-flatbed-suitcase icon"></i>
            <h4 class="icon__header">custom <br> clearance</h4>
        </div>
        <div class="icon__container">
            <i class="fa-solid fa-prescription-bottle-medical icon"></i>
            <h4 class="icon__header">pharma <br> logistics</h4>
        </div>
        <div class="icon__container">
            <i class="fa-solid fa-box icon"></i>
            <h4 class="icon__header">packing & <br> relocating</h4>
        </div>
        <div class="icon__container">
            <i class="fa-solid fa-ship icon"></i>
            <h4 class="icon__header">sea <br> Freight</h4>
        </div>
        <div class="icon__container">
            <i class="fa-solid fa-paw icon"></i>
            <h4 class="icon__header">DGR</h4>
        </div>
        <div class="icon__container">
            <i class="fa-solid fa-warehouse icon"></i>
            <h4 class="icon__header">Warehousing & <br> distibution</h4>
        </div>
        <div class="icon__container">
            <i class="fa-solid fa-check icon"></i>
            <h4 class="icon__header">cargo <br> insurance</h4>
        </div>
        <div class="icon__container">
            <i class="fa-container-storage fa-solid icon"></i>
            <h4 class="icon__header">project <br> cargo</h4>
        </div>
        <div class="icon__container">
            <i class="fa-solid fa-ferry icon"></i>
            <h4 class="icon__header">Break Bulk & <br> Roro Services</h4>
        </div>
    </div>
    <div class="left--side">
        <div class="triangle triangle--left triangle--top triangle--blue"></div>
        <div class="triangle triangle--left triangle--bottom triangle--red"></div>
    </div>
</section>