<section class="services">
    <div class="right--side">
        <div class="triangle triangle--right triangle--top triangle--blue"></div>
        <div class="triangle triangle--right triangle--bottom triangle--red"></div>
    </div>
    <div class="services__title">
        <div class="title">
            <div class="line line--blue"></div>
            <h2 class="title__header">Our Services</h2>
            <div class="line line--blue"></div>
        </div>
    </div>
<div class="row row--3">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="icon__container flip-card-front">
                    <i class="fa-solid fa-plane-departure icon"></i>
                    <h4 class="icon__header">Air Freight</h4>
                </div>
                <div class="flip-card-back">
                    <h4>Air Freight</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, cum!</p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="icon__container flip-card-front">
                    <i class="fa-solid fa-truck icon"></i>
                    <h4 class="icon__header">Land Freight</h4>
                </div>
                <div class="flip-card-back">
                    <h4>Land Freight</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, cum!</p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="icon__container flip-card-front">
                    <i class="fa-solid fa-cart-flatbed-suitcase icon"></i>
                    <h4 class="icon__header">Custom clearance</h4>
                </div>
                <div class="flip-card-back">
                    <h4>Custom clearance</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, cum!</p>
                </div>
            </div>
        </div>
    </div>
<div class="row row--2">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="icon__container flip-card-front">
                    <i class="fa-solid fa-prescription-bottle-medical icon"></i>
                    <h4 class="icon__header">pharma logistics</h4>
                </div>
                <div class="flip-card-back">
                    <h4>pharma logistics</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, cum!</p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="icon__container flip-card-front">
                    <i class="fa-solid fa-box icon"></i>
                    <h4 class="icon__header">Packing & relocating</h4>
                </div>
                <div class="flip-card-back">
                    <h4>Packing & relocating</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, cum!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row--1">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="icon__container flip-card-front">
                    <i class="fa-solid fa-ship icon"></i>
                    <h4 class="icon__header">sea Freight</h4>
                </div>
                <div class="flip-card-back">
                    <h4>sea Freight</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, cum!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row--2">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="icon__container flip-card-front">
                    <i class="fa-solid fa-paw icon"></i>
                    <h4 class="icon__header">DGR</h4>
                </div>
                <div class="flip-card-back">
                    <h4>DGR</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, cum!</p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="icon__container flip-card-front">
                    <i class="fa-solid fa-warehouse icon"></i>
                    <h4 class="icon__header">Warehousing & distribution</h4>
                </div>
                <div class="flip-card-back">
                    <h4>Warehousing & distribution</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, cum!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row--3">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="icon__container flip-card-front">
                    <i class="fa-solid fa-check icon"></i>
                    <h4 class="icon__header">cargo insurance</h4>
                </div>
                <div class="flip-card-back">
                    <h4>cargo insurance</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, cum!</p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="icon__container flip-card-front">
                    <i class="fa-solid fa-container-storage icon"></i>
                    <h4 class="icon__header">project cargo</h4>
                </div>
                <div class="flip-card-back">
                    <h4>project cargo</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, cum!</p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="icon__container flip-card-front">
                    <i class="fa-solid fa-ferry icon"></i>
                    <h4 class="icon__header">break bulk & roro services</h4>
                </div>
                <div class="flip-card-back">
                    <h4>break bulk & roro services</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, cum!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="left--side">
        <div class="triangle triangle--left triangle--top triangle--blue"></div>
        <div class="triangle triangle--left triangle--bottom triangle--red"></div>
    </div>
</section>