<section class="whyUs">
    <div class="whyUs__header">
        <div class="title">
            <h3 class="title__header whyUs__title">Why Choose Us?
            </h3>
            <div class="line line--blue"></div>
        </div>
        <p class="whyUs__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo et nam, accusantium doloribus at ad minima quibusdam consequuntur repudiandae recusandae.</p>
    </div>
    <button class="btn btn--outline btn--secondary whyUs__btn">Read More</button>
    <div class="whyUs__img"alt="">
    <div class="img__bg"></div>
</section>